<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/styles/vendor.css" | htmlBaseUrl }}">
    <link rel="stylesheet" href="/assets/styles/app.css">
    <title>{{title}}</title>
  </head>
  <body>
    {{ content }}

    <script type="text/javascript" src="/assets/scripts/vendor.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
  </body>
</html>